<h1>Listing akces</h1>

<table>
  <thead>
    <tr>
      <th>Termin od</th>
      <th>Termin do</th>
      <th>Nazev</th>
      <th>Typ akce</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @akces.each do |akce| %>
      <tr>
        <td><%= akce.termin_od %></td>
        <td><%= akce.termin_do %></td>
        <td><%= akce.nazev %></td>
        <td><%= akce.typ_akce %></td>
        <td><%= link_to 'Show', akce %></td>
        <td><%= link_to 'Edit', edit_akce_path(akce) %></td>
        <td><%= link_to 'Destroy', akce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Akce', new_akce_path %>
